@mixin border {
    border: 2px solid rgb(83, 158, 243);
    box-shadow: 0 0 10px cadetblue;
}

@mixin beauty-button {
    width: 70px;
    height: 30px;
    background-color: rgb(31, 98, 110);
    border-radius: 5px;
    color: white;
    padding: 0;
    margin: 1rem auto;
    cursor: pointer;
}