// .todo-item {
//     width: 100%;
// }

.buttons_group {
    display: inline-block;
}

.button_important,
.button_arcieve,
.button_delete {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}

.todo_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    // background-color: rgb(226, 248, 250)
}

.item_label {
    display: inline-block;
    font-size: 23px;
    font-weight: 400;
}

.item_important {
    color: #a00bec;
    border: 1px solid blue;
}

@media (max-width: 768px) and (min-width: 480px) {
    .item_label {
        font-size: 20px;
        font-weight: 400;
    }

    .button_important,
    .button_arcieve,
    .button_delete {
        width: 25px;
        height: 25px;
    }

    .button_important img,
    .button_arcieve img,
    .button_delete img {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    .button_important,
    .button_arcieve,
    .button_delete {
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }

    .button_important img,
    .button_arcieve img,
    .button_delete img {
        width: 20px;
        height: 20px;
    }
}