@import "../service/variables.scss";

.search_block {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 30px;
}
.search_panel {
    max-height: 30px;
    width: 200px;
    margin: 1rem auto;
    outline: 1px solid rgb(83, 158, 243);
}

.search_button {
    @include beauty-button

}

.search_panel:hover,
.search_button:hover {
    @include border
}

@media (max-width: 768px) and (min-width: 480px) {
    .search_block{
        width: 180px;
        position: relative;
        margin-top: 15px;
    }
    .search_panel {
        width: 90px;
        display: none;
        position: absolute;
    }

    .search_block:hover 
    .search_panel {
        display: block;
        transition: 0.6s ease-out;
        height: 30px;
        border-radius: 10px;
    }
    .search_button {
        margin-right: 10px;
    }
}