@import "../service/variables.scss";

.search_block {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.search_panel {
    max-height: 30px;
    width: 200px;
    margin: 1rem auto;
    outline: 1px solid rgb(83, 158, 243);
}

.search_button {
    @include beauty-button

}

.search_panel:hover,
.search_button:hover {
    @include border
}