@import "../service/variables.scss";

.add_button {
    @include beauty-button
}

.add_button:hover {
    @include border
}

.add_task {
    height: 30px;
    width: 500px;
    outline: 1px solid rgb(83, 158, 243);
    margin-right: 20px;
    padding-left: 10px;
}

.add_form {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 768px) and (min-width: 480px) {
    .add_task {
        width: 300px;
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    .add_task {
        width: 150px;
    }
}