@import "../service/variables.scss";

.add_block {
    margin: 0 auto;
    width: 600px;
    border: 1px solid white;
    padding: 20px;
}
.add_button {
    @include beauty-button
}

.add_button:hover {
    @include border
}

.add_task {
    height: 30px;
    width: 500px;
    outline: 1px solid rgb(83, 158, 243);
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.add_form {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.checkbox_group {
    width: auto;
    display: flex;
    justify-content: space-around;
}

.checrkbox_group--label {
    font-size: 18px;
    display: block;
	margin: 0 0 10px 0;
	cursor: pointer;
}

.checrkbox_group--label span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
	line-height: 22px;    
}

input[type=checkbox] {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.checrkbox_group--label span::before {
    content: "";
    display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid rgb(83, 158, 243);
	box-shadow: inset 0 0 3px #8a8a8a;;
}

.checrkbox_group--label input[type=checkbox] + span::after {
    content: "";	
	opacity: 0;
	transition: opacity 0.3s ease;
}

.checrkbox_group--label input[type=checkbox]:checked + span::after {
    content: "✓";
	color: rgb(83, 158, 243);
	font-size: 30px;
	font-weight: 900;
	position: absolute;
	left: 2px;
	top: -2px;
	opacity: 1;
}

@media (max-width: 768px) and (min-width: 480px) {
    .add_task {
        width: 300px;
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    .add_task {
        width: 150px;
    }
}