.todo_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 20px auto;
    padding: 0;
}

// .todo-item {
//     display: block;
//     width: 100%;
// }