@import "../service/variables.scss";

.header {
        background: linear-gradient(145deg, rgb(158, 208, 252), rgb(110, 186, 187));
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
}

@media (max-width: 479px) and (min-width: 320px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .header_list {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
    }
    
    .dropdown {
        display: block;
        width: 150px;
        height: 50px;
        background-color: transparent;
        outline: none;
        text-transform: uppercase;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
    }

    .dropdown:hover {
        background-color:rgb(91, 164, 182);
    }


    .header_list-item--content {
        display: none;
        position: absolute;
        min-width: 150px;
        min-height: 300px;
        background-color: rgb(91, 164, 182);
        z-index: 1;
        border-radius: 10px;
        text-align: center;
    }

    .header_list-item--content li {
        display: block;
    }

    .header_list-item {
        display: block;
        border-bottom: 1px solid white;
        color: white;
        cursor: pointer;
        padding: 20px;
        // margin-left: 0;
    }

    .header_list-item:hover {
        border: none;
        border-bottom: 1px solid rgb(83, 158, 243);
        background-color:rgb(158, 208, 252)
    }

    .header_list:hover .header_list-item--content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    // .header {
    //     justify-content: space-between;
    // }

    .logo {
        width: 100px;
        height: 100px;
    }
    
    .dropdown {
        display: block;
        width: 150px;
        height: 50px;
        background-color: transparent;
        outline: none;
        text-transform: uppercase;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 5px;
    }

    .header_list {
        padding: 0;
        margin-left: 15px;
    }

    .dropdown:hover {
        background-color:rgb(91, 164, 182);
    }

    .header_list-item--content {
        display: none;
        position: absolute;
        min-width: 150px;
        min-height: 300px;
        background-color: rgb(91, 164, 182);
        z-index: 1;
        border-radius: 10px;
        text-align: center;
    }

    .header_list-item--content li {
        display: block;
    }

    .header_list-item {
        display: block;
        border-bottom: 1px solid white;
        color: white;
        cursor: pointer;
        padding: 20px;
        margin-left: 0;
    }

    .header_list-item:hover {
        border: none;
        border-bottom: 1px solid rgb(83, 158, 243);
        background-color:rgb(158, 208, 252);
    }

    .header_list-item:first-child:hover {
        border-radius: 10px 10px 0 0;
    }

    .header_list-item:last-child:hover {
        border-radius: 0 0 10px 10px;
        border-bottom: none;
    }


    .header_list:hover .header_list-item--content {
        display: flex;
        flex-direction: column;
    }
}

    @media (min-width: 769px) and (max-width: 1130px) {

    .logo {
        width: 120px;
        height: 120px;
    }


    .header_list {
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .header_list-item {
        display: block;
        border-bottom: 1px solid white;
        color: white;
        cursor: pointer;
        padding: 20px;
        max-height: 15%;
        margin-left: 10px;
    }

    .header_list-item:hover {
        @include border;
    }

    .dropdown {
        display: none;
    }

    .header_list-item--content {
        display: flex;
        position: unset;
    }
}

@media (min-width: 1131px) {
    .logo {
        width: 150px;
        height: 150px;
    }


    .header_list {
        display: flex;
        justify-content: space-around;
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .header_list-item {
        display: block;
        border-bottom: 1px solid white;
        color: white;
        cursor: pointer;
        padding: 20px;
        max-height: 15%;
        margin-left: 10px;
    }

    .header_list-item:hover {
        @include border;
    }

    .dropdown {
        display: none;
    }

    .header_list-item--content {
        display: flex;
        position: unset;
    }
}



