@import "../service/variables.scss";

.header {
    background: linear-gradient(145deg, rgb(158, 208, 252), rgb(110, 186, 187));
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo {
    width: 150px;
    height: 150px;
}


.header_list {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 0;
}

.header_list-item {
    display: block;
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 20px;
    max-height: 15%;
    margin-left: 10px;
}

.header_list-item:hover {
    @include border;
}

@media (max-width: 768px) and (min-width: 480px) {
    .logo {
        width: 100px;
        height: 100px;
    }

    .header_list {
        flex-direction: column;
    }

    .header_list-item:first-child {
        display: block;
        position: relative;
    }

    .header_list-item--child {
        visibility: hidden;
        display: block;
        position: absolute;
        // min-width: 160px;
        // min-height: 100px;
        // z-index: 1;
    }

    .header_list-item:first-child:hover
    .header_list-item--child {
        color: red;
    }
}