@import "../service/variables.scss";

.header {
    background: linear-gradient(145deg, rgb(158, 208, 252), rgb(110, 186, 187));
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo {
    width: 150px;
    height: 150px;
}

.header_title {
    font-size: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.header_list {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 0;
}

.header_list-item {
    display: block;
    border-bottom: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 20px;
    max-height: 15%;
}

.header_list-item:hover {
    @include border;
}